<template>
    <div class="container-fluid my-container footer mt-5 ml-2 col-md-12">
      <div class="col-md-6 offset-md-3 row footer-menu p-0">
        <div class="col-md-3 p-3"><a href="">about us</a></div>
        <div class="col-md-3 p-3"><a href="">contact us</a></div>
        <div class="col-md-3 p-3"><a href="">privacy policy</a></div>
        <div class="col-md-3 p-3"><a href="">terms & conditions</a></div>
      </div>
    </div>  
</template>

<script>
  /*import axios from 'axios';*/

  export default {
    /*data() {
    },
    methods: {
      
    }*/
  }
</script>

<style scoped>
  .footer {
    background-color: #f8f8f8;
  }
  .footer-menu div {
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-family: Rubik;
    font-size: 14px;
  }
  .footer-menu a {
    color: #343434;
    text-decoration: none;
  }
</style>
