<template>
  <div id="LoginModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h3>Log In</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
                  <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                      <div class="form-group">
                          <input v-model="email" type="email" class="form-control form-control-lg" placeholder="Email" name="uname1" id="uname1" required="">
                          <span v-if="emailError" style="color: red;font-family: Rubik;padding-left: 10px;">Email is not valid!</span>
                          <div class="invalid-feedback">Oops, you missed this one.</div>
                      </div>
                      <div class="form-group">
                          <input v-model="password" type="password" class="form-control form-control-lg" id="pwd1" required="" autocomplete="new-password" placeholder="Password">
                          <div class="invalid-feedback">Enter your password too!</div>
                      </div>
                      <div class="custom-control custom-checkbox row col-md-12">
                        <div class="col-md-6">
                          <input v-model="remember" type="checkbox" class="custom-control-input" id="rememberMe" checked="checked">
                          <label class="custom-control-label" for="rememberMe">Remember me</label>
                          </div>
                        <div class="col-md-6 forg_pass">
                          <a href="" class="">Forgot password?</a>  
                        </div>
                      </div>
                      <div class="form-group">
                        <a href="" class="new_user_reg" data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target="#RegModalCenter">New user?</a>
                        <span v-if="hasError!=''" style="color: red;font-family: Rubik;text-align: center;display: block;padding: 5px;">{{hasError}}</span>
                        <button @click.prevent='login()' type="button" class="btn btn-lg" id="btnLogin">Log In</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        APP_PATH:'http://ec2-13-58-33-97.us-east-2.compute.amazonaws.com',
        emailError: false,
        email: '',
        password: '',
        hasError: '',
        remember: true,
      }
    },
    methods: {
      login() {
        this.emailError = this.hasError = false;
        axios.post(`${this.APP_PATH}/api/login`, {
          login: this.email,
          password: this.password,
          remember: this.remember
        }, {
          withCredentials: true
        }).then(result => {
          location.reload();
        }, err => {
          switch(err.response.data.errorCode) {
            case 1:
              this.emailError = true;
              break;
              case 2:
              this.hasError = 'Email and password are required!';
              break;
            default:
              this.hasError = 'Invalid email or password!';
              break;
          }
        });
      }
    }
  }
</script>

<style>

</style>
