<template>
  <div v-if="userName!=null">
    <div class="container-fluid col-md-10 offset-md-1">
        <div class="col-md-10 my-portfolio-mobile-for-devices col-12 row">
          <h4 class="col-6">My Portfolio</h4>
          <div class="login_register_cont row for-mobile-devices-login-section col-6">
            <div v-if="cookie==null" class="col-md-2 offset-md-8" data-toggle="modal" data-target="#LoginModalCenter">Log In</div>
            <div v-if="cookie==null" class="col-md-2" data-toggle="modal" data-target="#RegModalCenter">Register</div>
            <div v-if="userName!=null" class="col-md-8 col-sm-8 col-9 float-left">{{userName}}</div>
            <div @click.prevent='logout()' v-if="userName!=null" class="col-md-4 col-sm-4 log_out col-3 float-left">
              <img src="../assets/images/exit.svg">
            </div>
          </div>
        </div>
        <div class="add-portfolio col-md-12 mt-4 p-0 pt-2 ml-2 row">
            <div class="col-md-12 m-0 row cont-one">
              <div class="col-md-6 col-sm-6 col-6 pl-0 ">
                <ul class="p-0 m-0 oldest-portfolio-for-larger-screen">
                  <li v-for="(s, index) in portfolios"
                      @click="activePortfolioId = s.id, RenamePortfName = s.name, activePortfolioName = s.name, setActive(s, index)"
                      :class="{ 'active': activeIndex === index }" :key="s.id">
                      {{ s.name }}
                  </li>
                </ul>
                <div class="dropdown oldest-portfolio-for-mobile-devices">
                  <button type="button" class="btn dropdown-toggle select-dropdown-oldest-portfolio" data-toggle="dropdown">
                    {{activePortfolioName}}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" v-for="(s, index) in portfolios"
                      @click="activePortfolioId = s.id, RenamePortfName = s.name, activePortfolioName = s.name, setActive(s, index)"
                      :class="{ 'active': activeIndex === index }" :key="s.id">
                      {{ s.name }}
                  </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-6 add-port-btn p-0">
                  <button class="ml-4 add-portfolio-for-mobile-device" data-toggle="modal" data-target="#AddPortfolioCenter">Add Portfolio</button>
              </div> 
            </div>
            <div class="col-md-12 row cont-two p-2">
                <div class="col-md-6 col-sm-6 col-6 row">
                    <div class="ml-1">
                        <div class="btn-group currency-button-st" id="dropdownopen" >
                          <button type="button" class="btn dropdown-toggle money-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{selectedCurr}}
                          </button>
                          <div class="dropdown-menu money-drop-menu">
                            <a class="dropdown-item" href="#" @click.prevent="selectedCurr = cur.name, selectedCurrId = cur.id, setCurrSym()" v-for="cur in currency">{{cur.name}}</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-2 currency-div" style="color: #808080;">
                      <span class="currency-text">Currency</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-6 ren-del-but ml-4 pr-0 changing-style-mobile-dev">
                    <button class="btn ml-3 remove-btn-mobile-version" data-toggle="modal" data-target="#RenamePortfolioCenter">Rename</button>
                    <button class="btn ml-2 delete-btn-mobile-version" @click.prevent="deletePortfolio()">Delete</button>
                </div>
            </div> 
         </div>
    </div>
    <div class="portfolio-price-cont mt-5">
      <div class="container-fluid col-md-10 offset-md-1 pr-1">
          <div class="col-md-12 row ml-2 pr-0">
            <div class="col-lg-6 col-md-12 col-sm-12 price-port-value mt-3 mb-3 p-4 row">
              <div class="col-md-4 col-sm-4 col-4">
                <div class="col-md-12 portf-value-price">{{selectedCurrSym}}{{portfolioValue}}</div>
                <div class="col-md-12">portfolio value</div>
              </div>
              <div class="col-md-4 col-sm-4 col-4">
                <div class="col-md-12 portf-value-price">BTC</div>
                <div class="col-md-12">biggest value</div>
              </div>
              <div class="col-md-4 col-sm-4 col-4">
                <div class="col-md-12 portf-value-price">25%</div>
                <div class="col-md-12">richest</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 portf-coins mt-3 mb-3 p-4 row">
              <div class="col-md-12 portf-coins-text rubik">Add a coins to this portfolio</div>
              <div class="col-lg-12 col-md-12 col-sm-12 row m-auto">
                <div class="col-lg-4 col-md-6 col-sm-6 col-6 ml-0 mt-3">
                  <div class="btn-group selected-coin-mobile-vers" id="dropdownopen" >
                    <input list="browsers" class="form-control" placeholder="Select a coin" v-model = "selectedCoin" @change = "selectCoinId">

                    <datalist id="browsers">
                        <option v-for="coin in coins" :id="coin.id">{{coin.name}}</option>
                    </datalist>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-6 ml-0 mt-3">
                  <input type="number" v-model='quantity' placeholder="Quantity" class="form-control coin-quantity">
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 ml-0 mt-3">
                  <button type="button" class="btn" id="btnAdd" v-bind:disabled="quantity == '' || selectedCoinId == '' || activePortfolioId == Number" @click.prevent="addCoin()">Add</button>
                </div>
              </div>
            </div>
          </div>
      </div>  
    </div>
    <div class="container-fluid my-container mt-5 col-md-10 offset-md-1">
      <table class="table table-bordered ml-2 coins-table">
        <thead>
          <tr>
            <th scope="col">Coin</th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate</th>
            <th scope="col">Total Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(coin, index) in coinsTable">
            <td>
              <i v-bind:class="coin.logo" class="ml-3"></i>
              <span class="ml-3">{{coin.name}}</span>
              <div style="display:none" class="coinValueSelect">
                <div class="btn-group" id="dropdownopen" >
                  <input list="browsers"  @change.prevent="coin_id_1 = coin.id,changeCoinType($event)" class="form-control" placeholder="Select a coin" v-model = "co_name">

                  <datalist id="browsers">
                      <option v-for="coin in coins">{{coin.name}}</option>
                  </datalist>
                </div>
              </div>
              <img src="../assets/images/icons/083__setting_edit.svg" @click.prevent="editTableCoin(index, coin.id, $event)">
            </td>
            <td>
              <span class="ml-4">{{coin.quantity}}</span>
              <input type="hidden"  class="form-control quantity-input" :value="coin.quantity">
              <img src="../assets/images/icons/083__setting_edit.svg" @click.prevent="editTableQuantity(index, coin.id, $event)">
            </td>
            <td>
              <span class="ml-4" :value="coin.rate">{{coin.rate}}</span>
            </td>
            <td>
              <span class="ml-4">{{selectedCurrSym}}{{coin.total_cost}}</span>
              <img src="../assets/images/icons/017__circle_close.svg" @click.prevent="deleteTableRow(index, coin.id)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-fluid my-container mt-5 col-md-10 offset-md-1 module-conf-for-desktop-vers">
      <div class="row col-md-12 pr-0 pb-5">
        <div class="col-md-6 module-conf p-0">
          <div  class="col-md-9 pl-3">
            <h4 class="mb-4">Module configuration</h4>
            <span>This section allows you to customize the modules you want for portfolio performance review, risk review, asset reccomendations</span>
          </div>
          <SortableList lockAxis = "y" @input= "sortList()" :useDragHandle="true" v-model="moduleConfigurations">
            <SortableItem v-for="(moduleConf, index) in moduleConfigurations" :index="index" :key="index" :item="moduleConfigurations">
              <input  type="checkbox" class="module-checkbox" :checked="moduleConf.checked != null" :disabled="!UpgradedBool && moduleConf.pro == 0" v-on:change="checkModuleConf(index, moduleConf.id, $event)" v-bind:id="'module_'+moduleConf.id">
              <label title = '?' v-bind:for="'module_'+moduleConf.id" class="module-conf-label">{{moduleConf.name}}</label>
            </SortableItem>
          </SortableList>
        </div>
        <div class="col-md-6 intelligence-cont pr-0">
          <div class="col-md-9 offset-md-1">
            <h4 class="mb-4">Intelligence Configuration</h4>
            <span>Fusce dapibus, tellus ac curcus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</span>
          </div>
          <div class="col-md-11 offset-md-1 intelligence-coins pr-0">
            <div class="col-md-12 p-0 mt-5">
              <span>Coin Universe to compare your portfolio to</span>
              <div class="row int-coin-universe mt-3">
                <div class="col-md-4 p-2 active">TOP 50 Coins</div>
                <div class="col-md-4 p-2">TOP 100 Coins</div>
                <div class="col-md-4 p-2">TOP 500 Coins</div>
              </div>
            </div>
            <div class="col-md-12 p-0 mt-5">
              <span>Benchmark Defination</span>
              <div class="row int-coin-universe mt-3">
                <div class="col-md-4 p-2">Bitcoin</div>
                <div class="col-md-4 p-2 active">TOP 10 Coins</div>
                <div class="col-md-4 p-2">TOP 50 Coins</div>
              </div>
            </div>
            <div class="col-md-12 p-0 mt-5">
              <span>Benchmark Defination</span>
              <div class="row int-coin-universe mt-3">
                <div class="col-md-4 p-2">Bitcoin</div>
                <div class="col-md-4 p-2 active">TOP 10 Coins</div>
                <div class="col-md-4 p-2">TOP 50 Coins</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <!-- Grid row -->
    <div class="row accordion-gradient-bcg container-fluid ml-2 module-conf-section-mobele-vers">
        <!-- Grid column -->
        <div class="col-sm-12 pl-0 pr-0">
            <!--Accordion wrapper-->
            <div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist" aria-multiselectable="true">
                <!-- Accordion card -->
                <div class="card card-for-mobile-vers">
                    <!-- Card header -->
                    <div class="card-header rgba-stylish-strong z-depth-1" role="tab" id="heading1">
                        <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="accordion-mobile-version">
                            <h5 class="mb-0 module-conf-mobile-vers">
                                Module configuration <i class="fa fa-times"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx7">
                        <div class="px-4 pt-2">
                          <span>This section allows you to customize the modules you want for portfolio performance review, risk review, asset reccomendations</span>
                        </div>
                        <ul class="module-conf-check mt-3 px-4">
                          <li class="mt-2" v-for="(moduleConf, index) in moduleConfigurations">
                            <input type="checkbox" class="module-checkbox" :checked="moduleConf.checked != null" v-on:change="checkModuleConf(index, moduleConf.id, $event)" v-bind:id="'module_'+moduleConf.id">
                            <label v-bind:for="'module_'+moduleConf.id" class="module-conf-label">{{moduleConf.name}}</label>
                          </li>
                        </ul>
                    </div>
                </div>
                <!-- Accordion card -->
                <div class="card mt-4">
                  <!-- Card header -->
                  <div class="card-header rgba-stylish-strong z-depth-1" role="tab" id="heading2">
                      <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2" aria-expanded="true" aria-controls="collapse2" class="accordion-mobile-version">
                          <h5 class="mb-0 module-conf-mobile-vers">
                              Intelligence Configuration <i class="fa fa-times"></i>
                          </h5>
                      </a>
                  </div>
                  <!-- Card body -->
                  <div id="collapse2" class="collapse show" role="tabpanel" aria-labelledby="heading2" data-parent="#accordionEx7">
                      <div class="px-4 pt-2">
                        <span>Fusce dapibus, tellus ac curcus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</span>
                      </div>
                     <div class="col-md-11 offset-md-1 intelligence-coins pr-0">
                      <div class="col-md-12 p-0 mt-5">
                        <span>Coin Universe to compare your portfolio to</span>
                        <div class="mt-3 col-sm-12 int-coin-universe row">
                          <div class="col-md-4 col-sm-4 p-2 active">TOP 50 Coins</div>
                          <div class="col-md-4 col-sm-4 p-2">TOP 100 Coins</div>
                          <div class="col-md-4 col-sm-4 p-2">TOP 500 Coins</div>
                        </div>
                      </div>
                      <div class="col-md-12 p-0 mt-5">
                        <span>Benchmark Defination</span>
                        <div class="mt-3 col-sm-12 int-coin-universe row">
                          <div class="col-md-4 col-sm-4 p-2">Bitcoin</div>
                          <div class="col-md-4 col-sm-4 p-2 active">TOP 10 Coins</div>
                          <div class="col-md-4 col-sm-4 p-2">TOP 50 Coins</div>
                        </div>
                      </div>
                      <div class="col-md-12 p-0 mt-5">
                        <span>Benchmark Defination</span>
                        <div class="mt-3 col-sm-12 int-coin-universe row">
                          <div class="col-md-4 col-sm-4 p-2">Bitcoin</div>
                          <div class="col-md-4 col-sm-4 p-2 active">TOP 10 Coins</div>
                          <div class="col-md-4 col-sm-4 p-2">TOP 50 Coins</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Accordion card -->
                <div class="card mt-4">
                  <!-- Card header -->
                  <div class="card-header rgba-stylish-strong z-depth-1" role="tab" id="heading3">
                      <a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3" aria-expanded="true" aria-controls="collapse3" class="accordion-mobile-version">
                          <h5 class="mb-0 module-conf-mobile-vers">
                              Advantages for subscribed users <i class="fa fa-times"></i>
                          </h5>
                      </a>
                  </div>
                  <!-- Card body -->
                  <div id="collapse3" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx7">
                      <div class="col-md-12 py-2">
                        <div class="subscribed-user-div-mobile-vers p-2">
                          <img src="../assets/images/SVG/graph.svg" class="advantages-icon">
                          <span>Price Trends Analysis for all coins</span>
                        </div>
                      </div>
                      <div class="col-md-12 py-2">
                        <div class="subscribed-user-div-mobile-vers p-2">
                          <img src="../assets/images/SVG/pie_chart.svg" class="advantages-icon">
                          <span>Benchmark comparison for Portfolio</span>
                        </div>
                      </div>
                      <div class="col-md-12 py-2">
                        <div class="subscribed-user-div-mobile-vers p-2">
                          <img src="../assets/images/SVG/strategy.svg" class="advantages-icon">
                          <span>Dropdown (Maximum Loss) evalution</span>
                        </div>
                      </div>
                      <div class="col-md-12 py-2">
                        <div class="subscribed-user-div-mobile-vers p-2">
                          <img src="../assets/images/SVG/exchange.svg" class="advantages-icon">
                          <span>Performance gains evalution + reccomendations</span>
                        </div>
                      </div>
                      <div class="col-md-12 py-2">
                        <div class="subscribed-user-div-mobile-vers p-2">
                          <img src="../assets/images/SVG/presentation.svg" class="advantages-icon">
                          <span>Risk adjusted returns evalution + reccomendations</span>
                        </div>
                      </div>
                      <div class="col-md-12 py-2 mb-2">
                        <div class="subscribed-user-div-mobile-vers p-2">
                          <img src="../assets/images/SVG/box.svg" class="advantages-icon">
                          <span>Get even more features in upcoming updates</span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            <!--/.Accordion wrapper-->
            <div class="col-md-4 offset-md-4 mt-5">
              <div class="m-0 border-0">
                <button class="btn upgrate-button" id="customButton" @click="HundlerOpen">Upgrade your plan</button>
              </div>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <div class="container-fluid my-container mt-5 pb-5 mb-5 col-md-10 offset-md-1 atvantag-for-mobile-dev">
      <div class="col-md-12 advantages-title">
        <h4>Advantages for subscribed users</h4>
      </div>
      <div class="advantages-cont ml-0 mt-5 p-0 pr-2 row">
          <div class="col-md-4 pl-0">
            <div>
              <img src="../assets/images/SVG/graph.svg" class="advantages-icon">
              <span>Price Trends Analysis for all coins</span>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../assets/images/SVG/pie_chart.svg" class="advantages-icon">
              <span>Benchmark comparison for Portfolio</span>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../assets/images/SVG/strategy.svg" class="advantages-icon">
              <span>Dropdown (Maximum Loss) evalution</span>
            </div>
          </div>
          </div>
          <div class="advantages-cont ml-0 mt-4 p-0 pr-2 row">
          <div class="col-md-4 pl-0">
            <div>
              <img src="../assets/images/SVG/exchange.svg" class="advantages-icon">
              <span>Performance gains evalution + reccomendations</span>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../assets/images/SVG/presentation.svg" class="advantages-icon">
              <span>Risk adjusted returns evalution + reccomendations</span>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <img src="../assets/images/SVG/box.svg" class="advantages-icon">
              <span>Get even more features in upcoming updates</span>
            </div>
          </div>
        <div class="col-md-4 offset-md-4 mt-5">
          <div class="m-0 border-0">
            <button class="btn upgrate-button" id="customButton" @click="HundlerOpen"  :disabled ="UpgradedBool">Upgrade your plan</button>
          </div>
        </div>
      </div>
    </div>  
    <div id="AddPortfolioCenter" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Add Portfolio</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                      <input v-model="newPortfName" type="text" class="form-control form-control-lg" placeholder="Portfolio Name">
                  </div>
                  <button @click.prevent='addPortfolio()' type="button" class="btn btn-lg" id="btnAddPortf" data-dismiss="modal" aria-hidden="true">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="RenamePortfolioCenter" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Rename Portfolio</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                      <input type="text" v-model="RenamePortfName" class="form-control form-control-lg" placeholder="Portfolio Name">
                  </div>
                  <button @click.prevent='renamePortfolio()' type="button" class="btn btn-lg" data-dismiss="modal" aria-hidden="true" id="btnRenamePortf">Rename</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>

  import axios from 'axios';
  import VueCookies from 'vue-cookies'
  import SortableList from './sortablelist'
  import SortableItem from './sortableitem'
  import { ContainerMixin, ElementMixin } from 'vue-slicksort';

  export default {
    data() {
      return {
        APP_PATH:'http://ec2-13-58-33-97.us-east-2.compute.amazonaws.com',
        handler:'',
        portfolios:'',
        changeCoinTypeMod:'',
        portfolioValue:0,
        activeIndex: Number,
        activePortfolioId:Number,
        activePortfolioName:'',
        RenamePortfName:'',
        selectedCurr:'USD',
        selectedCurrId:1,
        selectedCurrSym:'',
        currency:null,
        newPortfName:'',
        coins:null,
        selectedCoin:'',
        selectedCoinId:'',
        quantity:'',
        coinsTable:'',
        moduleConfigurations:[],
        counter:'',
        quantityValue:true,
        coinValue:true,
        cookie: null,
        userName: null,
        upgradeValue:'',
        UpgradedBool:false,
        co_name:'',
        coin_id_1:'',
        numberforsort:0
      }
    },
    components:{
      SortableList,
      SortableItem
    },
    methods: {
      getportfolioValue:function(){
        axios.post(`${this.APP_PATH}/api/getSumPortfValue`, {
          portfId: this.activePortfolioId,
        }).then(result => {
          if(result.data.error == false && result.data.response.length != 0){
            if(result.data.response[0].portfvalue){
              this.portfolioValue = result.data.response[0].portfvalue;
              this.getUpgradeValue();
            }else {
              this.portfolioValue = 0;
            }
          }
        });
      },
      logout() {
        VueCookies.remove('id');
        VueCookies.remove('name');
        location.reload();
      },
      addPortfolio: function(){
        axios.post(`${this.APP_PATH}/api/addPortfolio`, {
          userId:VueCookies.get('id'),
          name:this.newPortfName,
          currency_id:this.selectedCurrId,
        }).then(result => {
          if(result.data.error == false){
            this.getPortfolios();
            this.activeIndex = this.portfolios.length;
            this.activePortfolioId = result.data.response[0].id;
            this.getCoinsTable();
            this.getModuleConfigurations();
            this.newPortfName = '';
            this.IsUpgrated();
            this.HundlerConfig();
          }
       })
      },
      getPortfolios: function(){
        axios.post(`${this.APP_PATH}/api/getPortfolios`, {
          userId:VueCookies.get('id')
        }).then(result => {
          if(result.data.length != 0){
            this.portfolios        = result.data;
            if(this.activeIndex == Number){
              this.activeIndex       = 0;
              this.activePortfolioId = result.data[this.activeIndex].id
            }
            this.RenamePortfName   = result.data[this.activeIndex].name;
            this.activePortfolioName   = result.data[this.activeIndex].name;
            this.selectedCurr      = result.data[this.activeIndex].cur_name;
            this.selectedCurrId    = result.data[this.activeIndex].currency_id;
            this.getportfolioValue();
            this.setCurrSym();
            this.getCurrency();
            this.getCoins();
            this.getCoinsTable();
            this.getModuleConfigurations();
            this.IsUpgrated();
            this.HundlerConfig();
          }
        });
      },
      deletePortfolio:function(){
        axios.post(`${this.APP_PATH}/api/deletePortfolio`, {
          portfolioId: this.activePortfolioId
        }).then(result => {
          if(result.data.error == false){
            location.reload()
          }
        });
      },
      renamePortfolio: function(){
        axios.post(`${this.APP_PATH}/api/renamePortfolio`, {
          portfolioId: this.activePortfolioId,
          portfolioName: this.RenamePortfName
        }).then(result => {
          if(result.data.error == false){
            this.getPortfolios();
          }
        });
      },
      addCoin:function(){
        if(this.portfolios != ''){
          axios.post(`${this.APP_PATH}/api/addCoin`, {
            portfolioId: this.activePortfolioId,
            CoinId: this.selectedCoinId,
            quantity:this.quantity,
            rate:10,
            total_cost:10*this.quantity,
          }).then(result => {
            if(result.data.error == false){
              this.getportfolioValue();
              this.getCoinsTable();
              this.quantity = '';
              this.selectedCoinId = '';
              this.selectedCoin = ''
            }
          });
        }
      },
      getCoins:function(){
        axios.post(`${this.APP_PATH}/api/getCoins`, {
        }).then(result => (this.coins = result.data));
      },
      getModuleConfigurations:function(){
        axios.post(`${this.APP_PATH}/api/getModuleConfigurations`, {
        portfId: this.activePortfolioId,
        }).then(result => {
          this.moduleConfigurations = result.data;
        });
      },
      getCurrName:function(){
        axios.post(`${this.APP_PATH}/api/getCurrName`, {
          portfId:this.activePortfolioId
        }).then(result => {
          this.selectedCurr = result.data.name;
          this.selectedCurrId = result.data.id;
          this.setCurrSym();
        });
      },
      getCoinsTable: function(){
        axios.post(`${this.APP_PATH}/api/getCoinsTable`, {
          portfId:this.activePortfolioId
        }).then(result => {
          this.coinsTable = result.data;
          this.counter = result.data.length;
        });
      },
      getCurrency:function(){
        axios.post(`${this.APP_PATH}/api/getCurrency`, {
        }).then(result => (this.currency = result.data));
      },
      setActive(s, index) {
        this.getCurrName();
        this.activeIndex = index;
        this.getCoinsTable();
        this.getModuleConfigurations();
        this.getportfolioValue()
        this.IsUpgrated()
        this.HundlerConfig();
      },
      deleteTableRow: function (idx, coin_id) { 
        this.counter--;
        this.coinsTable.splice(idx, 1);
        axios.post(`${this.APP_PATH}/api/deleteCoin`, {
          coinId:coin_id
        }).then(result => {
          this.getportfolioValue()
        });
      },
      setCurrSym:function(){
        if(this.selectedCurrId == 1){
          this.selectedCurrSym = '$';
        }else if(this.selectedCurrId == 2){
          this.selectedCurrSym = '€';
        }
      },
      editTableCoin:function(index, coin_id, $event){
        if(this.coinValue){
          event.target.parentElement.childNodes[0].style.visibility = 'hidden';
          event.target.parentElement.childNodes[1].style.visibility = 'hidden';
          event.target.parentElement.childNodes[0].classList.remove("ml-3");
          event.target.parentElement.childNodes[1].classList.remove("ml-3");
          event.target.parentElement.childNodes[2].style.display    = 'inline-block';
          this.coinValue = false;
          return;
        }else {
          event.target.parentElement.childNodes[0].style.visibility = 'visible';
          event.target.parentElement.childNodes[1].style.visibility = 'visible';
          event.target.parentElement.childNodes[0].classList.add("ml-3");
          event.target.parentElement.childNodes[1].classList.add("ml-3");
          event.target.parentElement.childNodes[2].style.display    = 'none';
          this.coinValue = true;
          return;
        }
      },
      changeCoinType:function($event){
        const parentTd = event.target.parentElement.parentElement.parentElement;
        const parentSelect = event.target.parentElement.parentElement;
        parentTd.childNodes[0].style.visibility = 'visible';
        parentTd.childNodes[1].style.visibility = 'visible';
        parentTd.childNodes[0].classList.add("ml-3");
        parentTd.childNodes[1].classList.add("ml-3");
        parentSelect.style.display = 'none';
        this.coinValue = true;
        axios.post(`${this.APP_PATH}/api/getCoinId`, {
          coinName:this.co_name
        }).then(result => {
          this.co_name = ''
          axios.post(`${this.APP_PATH}/api/changeCoinType`, {
            thisCoinId:result.data,
            coinId:this.coin_id_1,
          }).then(result => {
            if(result.data.error == false){
              this.getPortfolios()
            }
          });
        });
        return;
      },
      editTableQuantity:function(index,coin_id, event){
        if(this.quantityValue){
          event.target.parentElement.childNodes[0].style.visibility = 'hidden';
          event.target.parentElement.childNodes[0].classList.remove("ml-4");
          event.target.parentElement.childNodes[1].type = 'number';
          this.quantityValue = false;
          return;
        }else {
          event.target.parentElement.childNodes[0].style.visibility = 'visible';
          event.target.parentElement.childNodes[0].classList.add("ml-4");
          event.target.parentElement.childNodes[1].type = 'hidden';
          this.quantityValue = true;
          const quantityVal = event.target.parentElement.childNodes[1].value;
          const rateVal = event.target.parentElement.parentElement.childNodes[2].innerText;
          axios.post(`${this.APP_PATH}/api/changeQuantityValue`, {
            rateVal,
            quantityVal:quantityVal,
            coin_id:coin_id
          }).then(result => {
            this.getCoinsTable()
            this.getportfolioValue()
          });
          return;
        }
      },
      checkModuleConf: function(idx, modulConfId, event){
        if(this.portfolios != "" && this.activePortfolioId != Number){
          if(event.target.checked == true){
            axios.post(`${this.APP_PATH}/api/addModuleConf`, {
              modulConfId:modulConfId,
              portfId:this.activePortfolioId
            }).then(result => {
              console.log(result.data.message);
            });
          }else {
            axios.post(`${this.APP_PATH}/api/removeModuleConf`, {
                modulConfId:modulConfId,
                portfId:this.activePortfolioId
              }).then(result => {
                console.log(result.data.message);
            });
          }
          this.getUpgradeValue();
        }
      },
      getUpgradeValue:function(){
        axios.post(`${this.APP_PATH}/api/getUpgradeValue`, {
          portfolioId:this.activePortfolioId,
        }).then(result => {
          if(result.data.error == false){
            this.upgradeValue = result.data.response[0].price
            this.HundlerConfig();
          }
        });
      },
      HundlerConfig:function () {
        var portfolioId = this.activePortfolioId
        this.handler = StripeCheckout.configure({
          key: 'pk_test_Riv7x95DN1tLQQJk5fS1uEfp',
          image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
          locale: 'auto',
          token: function(token) {
            fetch("http://ec2-13-58-33-97.us-east-2.compute.amazonaws.com/api/payment", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({token:token})
              })
              .then(data => {
                if (data.ok == true)
                  axios.post("http://ec2-13-58-33-97.us-east-2.compute.amazonaws.com/api/UpgradeUser",{
                    portfolioId,
                    userId:VueCookies.get('id')
                  }).then(data =>{
                    location.reload()
                  })
              })
          }
        })
      },
      HundlerOpen:function(){
        this.handler.open({
          name: 'Demo Site',
          description: '2 widgets',
          amount: 2000
        });
      },
      IsUpgrated:function(){
        axios.post(`${this.APP_PATH}/api/IsUpgrated`,{
          portfolioId:this.activePortfolioId,
          userId:VueCookies.get('id')
        }).then(data=>{
          this.UpgradedBool = data.data
        })
      },
      selectCoinId(){
        axios.post(`${this.APP_PATH}/api/getCoinId`, {
          coinName:this.selectedCoin
        }).then(result => {
          this.selectedCoinId = result.data
        });
      },
      sortList(){
        axios.post(`${this.APP_PATH}/api/sortList`,{
          data:this.moduleConfigurations
        }).then((data)=>{
          console.log(data.data)
          this.getModuleConfigurations();
        })
      }
    },
    created(){
        this.getPortfolios()
        this.setCurrSym();
	this.getCurrency();
        this.getCoins();
        this.cookie = VueCookies.get('id');
        this.userName = VueCookies.get('name');
     },
  }
</script>

<style scoped>
  .btn:focus {
    box-shadow: none !important;
  }
  .col-md-10 h4 {
    font-weight: bold;
    font-family: Rubik;
  }
  .oldest-portfolio-btn {
    background-color: #f93a2f;
    color: white;
    width: 70%;
    display: block;
    margin: 0 auto;
    font-family: Rubik;
    font-size: 14px;
  }
  .add-portfolio {
    border: 1px solid #efefef;
    border-radius: 3px;
  }
  .add-portfolio .col-md-3 a {
    font-family: Rubik;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    line-height: 50px;
  }
  .add-portfolio .add-port-btn {
    text-align: right;
  }
  .add-portfolio .add-port-btn button {
    font-family: Rubik;
    text-decoration: none;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    line-height: 11px;
    border-radius: 3px;
    padding: 11px 45px;
    display: inline-block;
    border: 1px solid #fc9c97;
  }
  .add-portfolio .add-port-btn button:active {
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }
   .add-portfolio .add-port-btn button:focus {
    outline: none !important;
   }
  .add-portfolio .col-md-3 a:hover {
    opacity: 0.9;
  }
  .money-drop {
    width: 5em !important;
    min-width: 0 !important;
  }
  .money-drop:after {
    margin-left: 0.85em !important;
  }
  .money-drop-menu {
    min-width: 0;
  }
  .money-drop-menu a {
    padding-left: 15px;
  }
  .add-portfolio .oldest-portfolio-btn {
    margin: 0 30px;
  }
  .add-portfolio .col-md-12.row.p-0 {
    margin-left: 0;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px !important;
  }
  .add-portfolio .cont-two {
    margin-left: 0;
    padding: 0;
    background-color: #fcfcfc;
  }
  .add-portfolio .cont-two .col-md-2:nth-child(1) {
    padding-left: 0;
    margin-left: 0px;
  }
  .add-portfolio ul li {
    list-style: none;
    display: inline-block;
    font-family: Rubik;
    margin: 0 20px;
    cursor: pointer;
  }
  .add-portfolio ul li:hover {
    opacity: 0.8;
  }
  .add-portfolio ul li.active {
    font-weight: bold;
    background-color: #f93a2f;
    color: white;
    margin: 0 auto;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .cont-two button {
    padding: 5px 15px;
    background-color: #ffffff;
    border: 1px solid #ececec;
  }
  .ren-del-but {
    text-align: right;
  }
  #AddPortfolioCenter {
    margin-top: 220px;
  }
  #btnAddPortf {
    background-color: #f93a2f;
    color: white;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  #RenamePortfolioCenter {
    margin-top: 220px;
  }
  #btnRenamePortf {
    background-color: #f93a2f;
    color: white;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .portfolio-price-cont {
    background-image: url('../assets/images/background-image1.png');
  }
  .price-port-value {
    background-color: #ffffff;
    border-radius: 7px;
    border:1px solid #ececec;
  }
  .price-port-value .col-md-4 {
    font-family: Rubik;
    text-align: center;
  }
  .portf-value-price {
    font-size: 30px;
  }
  .portf-coins {
    background-color: #ffffff;
    border-radius: 7px;
    border:1px solid #ececec;
    margin-left: 30px;
  }
  .portf-coins-text {
    color: #808080;
    font-size: 18px;
  }
  #btnAdd {
    background-color: #f93a2f;
    color: white;
    width: 100%;
    display: block;
    font-family: Rubik;
    font-size: 14px;
  }
  table thead {
    font-weight: bold;
    font-size: 14px;
  }
  table thead th {
    border: 2px solid #dee2e6;
    background-color: #fdfdfd;
    vertical-align: middle;
  }
  table tbody {
    font-size: 14px;
  }
  table th td{
    font-family: Rubik;
  }
  table tbody tr:hover {
    background-color: #feebea;
    border: 1px solid #f2918c;
  }
  table tbody tr:hover > td {
    border: 1px solid #f2918c;
  }
  .table-bordered td {
    border: none;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
  table tbody tr:hover img {
    opacity: 1;
  }
  td img {
    width: 45px;
    opacity: 0;
    float: right;
    cursor: pointer;
  }
  td span {
    line-height: 45px;
    font-family: Rubik;
  }
  tbody .table th, .table td {
    padding: 0;
  }
  .module-conf h4 {
    font-family: Rubik;
    font-weight: bold;
    color: #333333;
  }
  .module-conf span {
    font-family: Rubik;
    color: #333333;
  }
  .intelligence-cont h4 {
    font-family: Rubik;
    font-weight: bold;
    color: #333333;
  }
  .intelligence-cont span {
    font-family: Rubik;
    color: #333333;
  }
  .module-conf-check li {
    list-style: none;
    border:1px solid #ececec;
    border-radius: 5px;
  }
  .module-conf-check li:nth-child(odd) {
    background-color: #ffffff;
  }
  .module-conf-check li:nth-child(even) {
    background-color: #f8f8f8;
  }
  .module-conf-check li label {
    font-family: Rubik;
    margin: 10px;
    width: 90%;
  }
  .int-coin-universe {
    border:1px solid #ececec;
    border-radius: 3px;
  }
  .int-coin-universe div {
    text-align: center;
    border:1px solid #ececec;
    color: #bfbfbf;
    cursor: pointer;
  }
  .int-coin-universe div:hover {
    background-color: #feebea;
    color: #0a0a0a;
    border:1px solid #fb9892;
  }
  .int-coin-universe div.active {
    background-color: #feebea;
    color: #0a0a0a;
    border:1px solid #fb9892;
  }
  .intelligence-coins span {
    color: #808080;
    font-family: Rubik;
  }
  .box {
    background: #666666;
    color: #ffffff;
    width: 250px;
    padding: 10px;
    margin: 1em auto;
  }
  input[type="checkbox"] {
    visibility: hidden;
  }
  label {
    cursor: pointer;
  }
  input[type="checkbox"] + label:before {
    border: 1px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 3px 1.25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    border-radius: 2px;
  }
  input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: #333;
    content: "\2714";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }

  input[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
  }
  .advantages-title {
    padding-top: 80px;
    border-top: 3px dashed #808080; 
  }
  .advantages-title h4 {
    font-family: Rubik;
    font-weight: bold;
    text-align: center;
    color: #333333;
  }
  .advantages-icon {
    width: 50px;
    vertical-align: middle;
  }
  .advantages-cont .col-md-4 {
    padding: 0 5px;
  }
  .advantages-cont .col-md-4 span {
    margin-left: 20px;
    font-family: Rubik;
    display: inline-block;
    width: 60%;
    vertical-align: middle;
  }
  .advantages-cont .col-md-4 div {
    border:1px solid #ececec;
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
  }
  .upgrate-button {
    background-color: #f93a2f;
    color: white;
    width: 100%;
    display: block;
    font-family: Rubik;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
  }
  .quantity-input {
    width: 50%;
    display: inline-block;
  }
  .coins-table tr td {
    width: 25% !important;
  }
  .for-mobile-devices-login-section, .oldest-portfolio-for-mobile-devices {
    display: none;    
  }
  .my-portfolio-mobile-for-devices {
    margin-top: 48px; 
  }
  .oldest-portfolio-for-larger-screen {
    display: block;
  }
  .currency-button-st {
    border-radius: 2px;
  }
  .currency-div {
    line-height: 35px;
    text-align: center;
  }
  .currency-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .price-port-value, .portf-value-price {
    color: #333333;
  }
  .accordion-mobile-version {
    text-decoration: none!important;
  }
  .module-conf-mobile-vers {
    color: #353535;
  }
  .module-conf-section-mobele-vers {
    display: none;
  }
  .module-conf-for-desktop-vers, .atvantag-for-mobile-dev {
    display: block;
  }
  @media(max-width: 991px) {
    .portf-coins {
      margin-left: -15px!important; 
    }
  }
  @media(max-width: 768px) {
    .portf-coins {
      margin-left: -15px!important;
    }
    .module-conf-section-mobele-vers {
      display: block;
    }
    .module-conf-for-desktop-vers, .atvantag-for-mobile-dev {
      display: none;
    }
    .card-for-mobile-vers {
      border-bottom: 1px solid #ccc!important;
    }
    .int-coin-universe {
      border:none;
    }
    .subscribed-user-div-mobile-vers {
      border:1px solid #ccc;
      border-radius: 2px;
    }
  }
  @media(max-width: 576px) {
    .for-mobile-devices-login-section, .oldest-portfolio-for-mobile-devices {
      display: block;
    }
    .my-portfolio-mobile-for-devices {
      margin: 25px 0;
      padding-right: 0;
    }
    .oldest-portfolio-for-larger-screen {
      display: none;
    }
    .select-dropdown-oldest-portfolio {
      background-color: white;
      color: #333333;
      border: 1px solid #ededed;
      text-align: left;
      border-radius: 2px;
    }
    .add-portfolio-for-mobile-device {
      padding: 11px!important;
    }
    .accordion-mobile-version {
      text-decoration: none!important;
    }
    .module-conf-mobile-vers {
      color: #353535;
    }
    .module-conf-check li label {
      max-width: 271px;
      width: auto;
      word-break: break-all;
    }
  }
  @media(max-width: 548px) {
    .selected-coin-mobile-vers {
      width: 200px;
    }
    .selected-coin-mobile-vers button:after {
      margin-left: 20px!important;
    }
  }
  @media(max-width: 513px) {
    .selected-coin-mobile-vers {
      width: 160px;
    } 
  }
  @media(max-width: 470px) {
    .changing-style-mobile-dev {
      margin: 0 0 0 26px!important;
    }
    .remove-btn-mobile-version {
      float: left;
    }
    .delete-btn-mobile-version {
      margin: 0!important;
    }
  }
  @media(max-width: 453px) {
    .remove-btn-mobile-version {
      padding: 6px!important;
      font-size: 13px;
      float: left;
    }
    .delete-btn-mobile-version {
      padding: 6px!important;
      font-size: 14px;
      margin: 0!important;
    }
    .portf-value-price {
      font-size: 23px
    }
    .selected-coin-mobile-vers button {
      min-width: 7em!important;
    }
    .selected-coin-mobile-vers {
      width: 110px;
    }
    .selected-coin-mobile-vers button:after {
      display: none;
    }
  }
  @media(min-width: 992px) and (max-width: 1070px) {
    .selected-coin-mobile-vers button {
      min-width: 20px !important;
      width: 100px;
      font-size: 13px;
      padding: 9px;
    }
    .selected-coin-mobile-vers button:after {
      margin-left: -3px !important;
    }
  }
  @media(min-width: 1070px) and (max-width: 1400px) {
    .selected-coin-mobile-vers button {
      min-width: 20px !important;
      width: 110px;
      font-size: 13px;
      padding: 9px;
    }
    .selected-coin-mobile-vers button:after {
      margin-left: 0.255em !important;
    }
  }
  @media(min-width: 1400px) and (max-width: 1600px) {
    .selected-coin-mobile-vers button {
      min-width: 20px !important;
      width: 160px;
      font-size: 13px;
      padding: 9px;
    }
    .selected-coin-mobile-vers button:after {
      margin-left: 55px !important;
    }
  }
  @media(min-width: 1600px) and (max-width: 1780px) {
    .selected-coin-mobile-vers button {
      min-width: 20px !important;
      width: 185px;
      font-size: 14px;
      padding: 9px;
    }
    .selected-coin-mobile-vers button:after {
      margin-left: 75px !important;
    }
  }

</style>
