<template>
  <div>
    <div id="header-in-login-version" v-if="userName != null">
      <div class="container-fluid my-container col-md-10 offset-md-1">
        <nav class="navbar navbar-expand-lg navbar-light nav_logo">
          <a class="navbar-brand" href="#">InvestGenius</a>
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="form-inline login_register_cont">
            <div v-if="cookie==null" class="col-md-3 offset-md-6" data-toggle="modal" data-target="#LoginModalCenter">Log In</div>
            <div v-if="cookie==null" class="col-md-3" data-toggle="modal" data-target="#RegModalCenter">Register</div>
            <div v-if="userName!=null" class="col-md-8" data-toggle="modal" data-target="#editUser" style = "cursor:pointer;" >{{userName}}</div>
            <div @click.prevent='logout()' v-if="userName!=null" class="col-md-4 log_out"><img src="../assets/images/exit.svg"></div>
          </div>
        </nav>
      </div>      
      </div>      
    <div id="rectangle4" v-if="userName == null">
      <div class="container-fluid my-container col-md-10 offset-md-1">
        <nav class="navbar navbar-expand-lg navbar-light nav_logo">
          <a class="navbar-brand" href="#">InvestGenius</a>
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="form-inline login_register_cont">
            <div v-if="cookie==null" class="float-right login-style-ch" data-toggle="modal" data-target="#LoginModalCenter">Log In</div>
            <div v-if="cookie==null" class="float-right col reg-style-ch" data-toggle="modal" data-target="#RegModalCenter">Register</div>
            <div v-if="userName!=null" class="col-md-8 col-sm-4">{{userName}}</div>
            <div @click.prevent='logout()' v-if="userName!=null" class="col-md-4 col-sm-4 log_out"><img src="../assets/images/exit.svg"></div>
          </div>
        </nav>
      </div>      
    </div>

    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header pl-4 pr-4 pt-4">
            <h5>Profile Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body pl-4 pr-4">
            <form class="form" role="form" autocomplete="off" novalidate="" method="POST">
                <div class="form-group">
                    <input  type="text" v-model = 'name' class="form-control form-control-lg" placeholder="Name" name="uname1" required="">
                    <div class="invalid-feedback">Oops, you missed this one.</div>
                </div>
                <div class="form-group ">
                    <input type="email" v-model = 'email' class="form-control form-control-lg" required="" autocomplete="new-password" placeholder="Email">
                    <div class="invalid-feedback">Enter your password too!</div>
                </div>
                <div class="form-group">
                  <span style="color: red;font-family: Rubik;text-align: center;display: block;padding: 5px;" v-if = "err">{{err}}</span>
                  <button type="button" class="btn btn-lg" id="btnEdit" @click = 'updateUser'>Update User</button>
                </div>
            </form>
          </div>
          <div class="modal-footer pl-4 pr-4">
            <form class="form mt-3" role="form" autocomplete="off" novalidate="" method="POST">
              <h5>Password</h5>
                <div class="row mt-4">
                  <div class="form-group col-md-6 col-sm-6">
                      <input  type="password" v-model = 'password' class="form-control form-control-lg" placeholder="New Password" name="uname1" required="">
                      <div class="invalid-feedback">Oops, you missed this one.</div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6">
                      <input type="password" v-model = "confirm" class="form-control form-control-lg" required="" autocomplete="new-password" placeholder="Confirm">
                      <div class="invalid-feedback">Enter your password too!</div>
                  </div>
                </div>
                <div class="form-group">
                  <span style="color: red;font-family: Rubik;text-align: center;display: block;padding: 5px;" v-if = "errpass">{{errpass}}</span>
                  <button type="button" class="btn btn-lg" id="btnEdit1" @click = "changePassword">Change Password</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <my-portfolio></my-portfolio>
    <login-form></login-form>
    <register-form></register-form>
    <footer-cont></footer-cont>
  </div>
</template>

<script>
import loginForm from './login'
import registerForm from './register'
import myPortfolio from './my_portfolio'
import footerCont from './footer'

import axios from 'axios'
import VueCookies from 'vue-cookies'

  export default {
    data() {
      return {
        APP_PATH:'http://localhost:3000',
        cookie: null,
        userName: null,
        name:'',
        email:'',
        err:'',
        errpass:'',
        success:'',
        password:'',
        confirm:''
      }
    },
    created(){
      this.cookie = VueCookies.get('id');
      this.userName = VueCookies.get('name');
      this.GetUser()
    },
    methods:{
      GetUser(){
        axios.post(`${this.APP_PATH}/api/getUserForUpgrade`,{
            id:this.cookie
        }).then((res)=>{
          this.email = res.data[0].email
          this.name = res.data[0].firstname 
        })
      },
      updateUser(){
        axios.post(`${this.APP_PATH}/api/updateUser`,{
          id:this.cookie,
          name:this.name,
          email:this.email
        }).then((res)=>{
          if(res.data.err){
            this.err = res.data.message
          }
          else{
            VueCookies.set('name',this.name)
            location.reload()
          }
        })
      },
      changePassword(){
        axios.post(`${this.APP_PATH}/api/changePassword`,{
          id:this.cookie,
          password:this.password,
          confirm:this.confirm
        }).then((res)=>{
          if(res.data.err){
            this.errpass = res.data.message
          }
          else{
            location.reload()
          }
        })
      },
      logout() {
        VueCookies.remove('id');
        VueCookies.remove('name');
        location.reload();
      }
    },
    components: {
      'login-form':loginForm,
      'register-form':registerForm,
      'my-portfolio':myPortfolio,
      'footer-cont':footerCont
    }
  }
</script>
<style scoped>
  .dropdown-menu {
    top: 95% !important;
    min-width: 9rem !important;
  }
</style>
<style>
@import '../assets/css/coinicon.css';
  @font-face {
      font-family: 'Rubik';
      src: url('../assets/fonts/rubik/Rubik-Regular.ttf');
  }
  body {
    overflow-x: hidden;
  }
  #rectangle4, #header-in-login-version {
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 60px;
    background: #ffffff;
    color: rgba(128,128,128,0.5);
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: none;
    letter-spacing: 0px;
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.02);
  }
  .ci {
    font-size: 18px !important;
  }
  .rubik {
    font-family: Rubik;
  }
  .logo_nav span {
    border-radius: 0;
    line-height: 60px;
    font-weight: bold;
    color: #333333;
    font-size: 22px;
  }
  #navbarDropdown {
    min-width: 10em;
    background-color: white;
    color: rgba(16, 16, 16, 0.9);
    border:1px solid  #ececec;
    text-align: left;
    border-radius: 2px;
    font-family: Rubik;
    font-size: 14px;
    padding: 0 10px;
  }
  #navbarSupportedContent {
    background-color: white;
    z-index: 1;
  }
  #navbarDropdown::after {
    margin-left: 4.99em;
  }
  .dropdown-item {
    font-size: 14px;
  }
  .dropdown-item.active, .dropdown-item:active {
    background-color: transparent !important;
    color: #212529 !important;
  }
  #dropdownopen button {
    min-width: 10em;
    background-color: white;
    color: rgba(16, 16, 16, 0.9);
    border:1px solid  #ececec;
    text-align: left;
    border-radius: 2px;
    font-family: Rubik;
  }
  #dropdownopen button::after {
    margin-left: 4.99em;
  }
  .login_register_cont .col-md-2 {
    width: 260px;
    color: #333333;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;
    text-align: right;
    cursor: pointer;
  }
  .login_register_cont .col-md-8 {
    color: #333333;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;
    text-align: right;
    line-height: 20px;
  }
  .btn.focus, .btn:focus{
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }
  .nav_logo {
    line-height: 35px;
  }
  #LoginModalCenter .modal-dialog {
    max-width: 400px;
    margin-top: 220px;
  }
  #LoginModalCenter .modal-header h3 {
    font-family: Rubik;
  }
  #LoginModalCenter .custom-control {
    display: flex;
    padding-right: 0;
  }
  #editUser input {
    border:2px solid #f3f3f3;
  }
  #editUser .modal-dialog {
    max-width: 500px;
    margin-top:-100px
  }
  #editUser .modal-header h5 {
    font-family: Rubik;
    border-bottom:none;
    font-weight:bold;
    color: #3f3f3f;
  }
  #editUser .modal-header{
    border-bottom:none;
  }
  #editUser .modal-footer{
    border-top:none;
  }
  #editUser .custom-control {
    display: flex;
    padding-right: 0;
  }
  #editUser .modal-footer {
    background-color: #f8f8f8;
  }
  #editUser .modal-footer h5{
    font-weight:bold;
    font-family:Rubik;
    color: #3f3f3f;
  }
  #RegModalCenter .modal-dialog {
    max-width: 400px;
    margin-top: 220px;
  }
  #RegModalCenter .modal-header h3 {
    font-family: Rubik;
  }
  #RegModalCenter .custom-control {
    display: flex;
    padding-right: 0;
  }
  #exampleModalLongTitle {
    font-family: Rubik;
  }
  #btnLogin {
    background-color: #f93a2f;
    color: white;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  #btnEdit {
    width:100%;
    background-color: #fafafa;
    color: #3b3b3b;
    border:2px solid #f3f3f3;
    display: block;
    margin: 0 auto;
    font-weight:bold;
  }
  #btnEdit1 {
    width:100%;
    background-color: #f93a2f;
    color: white;
    display: block;
    margin: 0 auto;
    font-weight:bold;
    font-size:1rem;
  }
  #btnReg {
    background-color: #f93a2f;
    color: white;
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .new_user_reg {
    display: block;
    text-align: center;
    padding: 10px;
    font-family: Rubik;
    color: #bfbfbf;
  }
  .new_user_reg:hover {
    text-decoration: none;
    color: #bfbfbf;
    opacity: 0.8;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #bfbfbf;
  }
  .form-control-lg {
    font-family: Rubik;
  }
  .forg_pass {
    text-align: right;
    padding-right: 0;
  }
  .forg_pass a {
    color: #bfbfbf;
    padding-right: 0;
  }
  .forg_pass a:hover {
    color: #bfbfbf;
    opacity: 0.8;
    text-decoration: none;
  }
  .custom-control-label::after {
    background-color: #bfbfbf;
    border-radius: 3px;
  }
  .log_out img {
    height: 22px;
    cursor: pointer;
    float: right;
  }
  #dropdownopen button {
    box-shadow: none !important;
  }
  .login-style-ch, .reg-style-ch {
    color: #333333;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    text-transform: none;
  }
  @media(max-width: 576px) {
    #header-in-login-version {
      display: none;
    }
  }
</style>
