<template>
  <div id="RegModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h3>Register</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
                  <form class="form" role="form" autocomplete="off" id="formRegister" novalidate="" method="POST">
                    <div class="form-group">
                          <input v-model="name" type="text" class="form-control form-control-lg" placeholder="Name">
                          <div class="invalid-feedback">Oops, you missed this one.</div>
                      </div>
                      <div class="form-group">
                          <input v-model="email" type="email" class="form-control form-control-lg" placeholder="Email">
                          <div class="invalid-feedback">Oops, you missed this one.</div>
                      </div>
                      <div class="form-group">
                          <input v-model="password" type="password" class="form-control form-control-lg" autocomplete="new-password" placeholder="Password">
                          <div class="invalid-feedback">Enter your password too!</div>
                      </div>
                      <div class="form-group">
                        <a href="" class="new_user_reg" data-toggle="modal" data-target="#LoginModalCenter" aria-hidden="true" data-dismiss="modal">Have an account?</a>
                        <span v-if="hasError" style="color: red;font-family: Rubik;text-align: center;display: block;padding: 5px;text-transform: capitalize;">{{hasError}}</span>
                        <button @click.prevent='register()' type="button" class="btn btn-lg" id="btnReg">Register</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        APP_PATH:'http://ec2-13-58-33-97.us-east-2.compute.amazonaws.com',
        name: '',
        email: '',
        password: '',
        hasError: '',
      }
    },
    methods: {
      register() {
        this.hasError = false;
        axios.post(`http://ec2-13-58-33-97.us-east-2.compute.amazonaws.com/api/registration`, {
          name:this.name,
          email: this.email,
          password: this.password,
        }, {
          withCredentials: true
        }).then(result => {
          alert('Check Your Email')
          location.reload();
        }, err => {
            this.hasError = err.response.data.message;
        });
      }
    }
  }
</script>

<style>

</style>
