<template>

  <ul class="list module-conf-check mt-5 pl-0">
    <slot />
  </ul>

</template>

<script>
  import { ContainerMixin, ElementMixin } from 'vue-slicksort';

  export default {
    mixins: [ContainerMixin],
    data() {
      return{

      }
    }
  }
</script>

<style>

</style>
