<template>

  <li class="list-item mt-2" style = "list-style:none;">
    <span v-handle class="handle float-right mt-3 mr-3 fa fa-bars" style = "cursor:pointer"></span>
    {{item.name}}
    <slot/>
  </li>

</template>

<script>
  import { ContainerMixin, ElementMixin, HandleDirective } from 'vue-slicksort';

  export default {
    mixins: [ElementMixin],
    directives: { handle: HandleDirective },
    props:['item'],
    data() {
      return{

      }
    }
  }
</script>

<style>

</style>
